[submodule "LuaD"]
	path = LuaD
	url = git@github.com:jakobovrum/LuaD.git
[submodule "lanes"]
	path = lanes
	url = git@github.com:rikkimax/lanes.git
[submodule "DAllegro5"]
	path = DAllegro5
	url = git@github.com:SiegeLord/DAllegro5.git
